@import "vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fuenteGeneral;
}

@import "header";

// main style

#main{
    min-height: 85vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin:1em 5em;
    justify-content: center;
    align-items: center;
    background: $blanco;
    & .main__image{
        display: grid;
        grid-column: 1 / 6;
        justify-content: center;
        & img{
            width: 100%;
        }
    }
    & .main__title{
        display: grid;
        grid-column: 6 / 13;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $fuenteTitulos;
        & h1{
            padding: 1em 0;
            font-size: 3rem;
            color: $naranja;
        }
        & span{
            font-size: 3rem;
            color: $amarillo;
        }
    }
}

@import "footer";

#experience{
    min-height: 85vh;
    & .experience__title{
        font-family: $fuenteTitulos;
        font-size: 2rem;
        color: $naranja;
        text-align: center;
        margin: 1em;
    }
    & .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em 0;
        & .experience__project{
            display: grid;
            margin: 0.5em 2em;
            padding: 1em 0;
            border-radius: 1rem;
            text-align: center;
            font-weight: bold;
            justify-content: center;
            background: $celeste;
            & img{
                width: 15vw;
                height: 20vh;
                padding: 1em;
                margin: 0 auto;
            }
        }
    }
}