* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#navbar {
  background: #056CF2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .navbar__logo {
  font-weight: bold;
  font-size: 24px;
  margin: 2vh 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#navbar .navbar__logo a {
  text-decoration: none;
  color: #F2F2F2;
}

#navbar .navbar__menu {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbar .navbar__menu li {
  list-style: none;
}

#navbar .navbar__menu li a {
  text-decoration: none;
  color: #F2F2F2;
  border-radius: 5px;
  padding: 0.5rem;
}

#navbar .navbar__menu li a:hover {
  background: #448FF2;
}

#navbar .navbar__mobile {
  display: none;
}

#main {
  min-height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  margin: 1em 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
}

#main .main__image {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main__image img {
  width: 100%;
}

#main .main__title {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6 / 13;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

#main .main__title h1 {
  padding: 1em 0;
  font-size: 3rem;
  color: #F2A007;
}

#main .main__title span {
  font-size: 3rem;
  color: #F2B807;
}

#footer {
  display: -ms-grid;
  display: grid;
  height: 7vh;
  background: #056CF2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

#footer .footer__logo {
  font-weight: bold;
  font-size: 24px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#footer .footer__logo a {
  text-decoration: none;
  color: #F2F2F2;
}

#footer .footer__icon {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #F2F2F2;
}

.footer__icon-github {
  background-color: #333;
}

.footer__icon-gmail {
  background-color: #c71610;
}

.footer__icon-instagram {
  background-color: #DD2A7B;
}

.footer__icon {
  font-size: 1rem;
}

.footer__icon a {
  margin: 0 1em;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 10px;
  color: #fff;
}

#experience {
  min-height: 85vh;
}

#experience .experience__title {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #F2A007;
  text-align: center;
  margin: 1em;
}

#experience .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2em 0;
}

#experience .grid-container .experience__project {
  display: -ms-grid;
  display: grid;
  margin: 0.5em 2em;
  padding: 1em 0;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #448FF2;
}

#experience .grid-container .experience__project:hover {
  -webkit-box-shadow: 0 0.3em 0.4rem #056CF2;
          box-shadow: 0 0.3em 0.4rem #056CF2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#experience .grid-container .experience__project img {
  width: 15vw;
  height: 20vh;
  padding: 1em;
  margin: 0 auto;
}

#services {
  min-height: 85vh;
}

#services .services__title {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #F2A007;
  text-align: center;
  margin: 1em;
}

#services .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#services .grid-container .services__item {
  display: -ms-grid;
  display: grid;
  margin: 5em 2em;
  padding: 3em;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F2A007), to(#F2B807));
  background-image: linear-gradient(to bottom, #F2A007, #F2B807);
}

#services .grid-container .services__item i {
  font-size: 5em;
}

#services .grid-container .services__item h3 {
  font-family: "Fredoka One", cursive;
  padding: 1em;
}

#services .grid-container .services__item p {
  font-weight: bold;
  line-height: 1.5em;
}
/*# sourceMappingURL=style.css.map */