@import "vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fuenteGeneral;
}

@import "header";

// main style

#main{
    min-height: 87vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin:1em 5em;
    justify-content: center;
    align-items: center;
    background: $blanco;
    & .main__image{
        display: grid;
        grid-column: 1 / 6;
        justify-content: center;
        & img{
            width: 100%;
        }
    }
    & .main__title{
        display: grid;
        grid-column: 6 / 13;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $fuenteTitulos;
        & h1{
            padding: 1em 0;
            font-size: 3rem;
            color: $naranja;
        }
        & span{
            font-size: 3rem;
            color: $amarillo;
        }
    }
}

@import "footer"