@import "vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $fuenteGeneral;
    // background-image: url(../assets/fondo.png)
    background: #000
}

@import "header";

// main style

#main{
    min-height: 85vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin:1em 5em;
    justify-content: center;
    align-items: center;
    & .main__image{
        display: grid;
        grid-column: 1 / 6;
        justify-content: center;
        & img{
            width: 100%;
        }
    }
    & .main__title{
        display: grid;
        grid-column: 6 / 13;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: $fuenteTitulos;
        & h1{
            padding: 1em 0;
            font-size: 3rem;
            color: $blanco;
        }
        & span{
            font-size: 3rem;
            color: $titulo;
        }
    }
}

@import "footer";

// Experience style

#experience{
    min-height: 85vh;
    & .experience__title{
        font-family: $fuenteTitulos;
        font-size: 2rem;
        color: $titulo;
        text-align: center;
        margin: 1em;
    }
    & .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em 0;
        & .experience__project{
            display: grid;
            margin: 0.5em 2em;
            padding: 1em 0;
            border-radius: 1rem;
            text-align: center;
            color: $blanco;
            font-weight: bold;
            justify-content: center;
            background: $fondo;
            &:hover{
                box-shadow: 0 0.3em 0.4rem $subtitulo;
                transition: all 0.3s;
            }
            & img{
                width: 15vw;
                height: 20vh;
                padding: 1em;
                margin: 0 auto;
            }
            & a{
                color: $blanco;
                text-decoration: none;
            }
        }
    }
}

// Services Style

#services{
    min-height: 85vh;
    & .services__title{
        font-family: $fuenteTitulos;
        font-size: 2rem;
        color: $titulo;
        text-align: center;
        margin: 1em;
    }
    & .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        & .services__item{
            display: grid;
            margin: 5em 2em;
            padding: 3em;
            border-radius: 1rem;
            text-align: center;
            font-weight: bold;
            justify-content: center;
            background-image: linear-gradient(to bottom, $titulo, $subtitulo);
            & i{
                font-size: 5em;
            }
            & h3{
                font-family: $fuenteTitulos;
                padding: 1em;
            }
            & p{
                font-weight: bold;
                line-height: 1.5em;
            }
        }
    }
}

// Contact style

#contact{
    min-height: 85vh;
    & .contact__title{
        font-family: $fuenteTitulos;
        font-size: 2rem;
        color: $titulo;
        text-align: center;
        margin: 1em;
    }
    & .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & .contact__form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & label{
                & input{
                    border: none;
                    width: 25vw;
                    height: 5vh;
                    margin: 0.5em;
                    background: $fondo;
                    border-bottom: 0.3em solid #4D77A0;
                    font-size: 15px;
                    font-weight: bold;
                    font-family: $fuenteGeneral;
                    &::placeholder{
                        color: $principal;
                        font-family: $fuenteGeneral;
                    }
                    &:focus{
                        outline: none;
                        border-bottom: 0.3em solid $principal;
                    }
                }
                & textarea{
                    width: 25vw;
                    padding: 1em;
                    resize: none;
                    border: none;
                    border-radius: 1em;
                    background: $fondo;
                    border-bottom: 0.3em solid #4D77A0;
                    color: $principal;
                    font-size: 15px;
                    font-weight: bold;
                    font-family: $fuenteGeneral;
                    &::placeholder{
                        color: $principal;
                        font-family: $fuenteGeneral;
                    }
                    &:focus{
                        outline: none;
                        background: #4D77A0;
                        border-bottom: 0.3em solid $principal;
                        color: $blanco;
                    }
                }
            }
            & input{
                background: $fondo;
                border: none;
                border-radius: 1em;
                padding: 1em;
                width: 25vw;
                color: $principal;
                font-size: 15px;
                font-weight: bold;
                font-family: $fuenteGeneral;
                &:focus{
                    background: #4D77A0;
                    color: $blanco;
                }
            }
        }
        & .contact__image{
            & img{
                width: 60%;
            }
        }
    }
}

// About me style

#info{
    min-height: 87vh;
    & .info__title{
        font-family: $fuenteTitulos;
        font-size: 2rem;
        color: $titulo;
        text-align: center;
        margin: 1em;
    }
    & .info__content{
        color: $blanco;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 2em;
    }
}