* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #000;
}

#navbar {
  background: linear-gradient(to bottom, #01165b, #000);
  opacity: 0.9;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
#navbar .navbar__logo {
  font-weight: bold;
  font-size: 24px;
  margin: 2vh 0;
  grid-column: 2/3;
}
#navbar .navbar__logo a {
  text-decoration: none;
  color: #ffffff;
}
#navbar .navbar__menu {
  grid-column: 5/9;
  display: flex;
  justify-content: space-around;
}
#navbar .navbar__menu li {
  list-style: none;
}
#navbar .navbar__menu li a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem;
}
#navbar .navbar__menu li a:hover {
  background: #7BCCFF;
}
#navbar .navbar__mobile {
  display: none;
}

#main {
  min-height: 85vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 1em 5em;
  justify-content: center;
  align-items: center;
}
#main .main__image {
  display: grid;
  grid-column: 1/6;
  justify-content: center;
}
#main .main__image img {
  width: 100%;
}
#main .main__title {
  display: grid;
  grid-column: 6/13;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
#main .main__title h1 {
  padding: 1em 0;
  font-size: 3rem;
  color: #ffffff;
}
#main .main__title span {
  font-size: 3rem;
  color: #5ce1e6;
}

#footer {
  display: grid;
  height: 7vh;
  background: linear-gradient(to bottom, #000, #01165b);
  opacity: 0.9;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
}
#footer .footer__logo {
  font-weight: bold;
  font-size: 24px;
  grid-column: 2/3;
}
#footer .footer__logo a {
  text-decoration: none;
  color: #ffffff;
}
#footer .footer__icon {
  grid-column: 6/9;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

.footer__icon-github {
  background-color: #333;
}

.footer__icon-gmail {
  background-color: #c71610;
}

.footer__icon-instagram {
  background-color: #DD2A7B;
}

.footer__icon {
  font-size: 1rem;
}
.footer__icon a {
  margin: 0 1em;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 10px;
  color: #ffffff;
}

#experience {
  min-height: 85vh;
}
#experience .experience__title {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #5ce1e6;
  text-align: center;
  margin: 1em;
}
#experience .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em 0;
}
#experience .grid-container .experience__project {
  display: grid;
  margin: 0.5em 2em;
  padding: 1em 0;
  border-radius: 1rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  background: #7BCCFF;
}
#experience .grid-container .experience__project:hover {
  box-shadow: 0 0.3em 0.4rem #eff2f5;
  transition: all 0.3s;
}
#experience .grid-container .experience__project img {
  width: 15vw;
  height: 20vh;
  padding: 1em;
  margin: 0 auto;
}
#experience .grid-container .experience__project a {
  color: #ffffff;
  text-decoration: none;
}

#services {
  min-height: 85vh;
}
#services .services__title {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #5ce1e6;
  text-align: center;
  margin: 1em;
}
#services .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#services .grid-container .services__item {
  display: grid;
  margin: 5em 2em;
  padding: 3em;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  background-image: linear-gradient(to bottom, #5ce1e6, #eff2f5);
}
#services .grid-container .services__item i {
  font-size: 5em;
}
#services .grid-container .services__item h3 {
  font-family: "Fredoka One", cursive;
  padding: 1em;
}
#services .grid-container .services__item p {
  font-weight: bold;
  line-height: 1.5em;
}

#contact {
  min-height: 85vh;
}
#contact .contact__title {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #5ce1e6;
  text-align: center;
  margin: 1em;
}
#contact .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#contact .grid-container .contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .grid-container .contact__form label input {
  border: none;
  width: 25vw;
  height: 5vh;
  margin: 0.5em;
  background: #7BCCFF;
  border-bottom: 0.3em solid #4D77A0;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label input::-moz-placeholder {
  color: #01165b;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label input:-ms-input-placeholder {
  color: #01165b;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label input::placeholder {
  color: #01165b;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label input:focus {
  outline: none;
  border-bottom: 0.3em solid #01165b;
}
#contact .grid-container .contact__form label textarea {
  width: 25vw;
  padding: 1em;
  resize: none;
  border: none;
  border-radius: 1em;
  background: #7BCCFF;
  border-bottom: 0.3em solid #4D77A0;
  color: #01165b;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label textarea::-moz-placeholder {
  color: #01165b;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label textarea:-ms-input-placeholder {
  color: #01165b;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label textarea::placeholder {
  color: #01165b;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form label textarea:focus {
  outline: none;
  background: #4D77A0;
  border-bottom: 0.3em solid #01165b;
  color: #ffffff;
}
#contact .grid-container .contact__form input {
  background: #7BCCFF;
  border: none;
  border-radius: 1em;
  padding: 1em;
  width: 25vw;
  color: #01165b;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
#contact .grid-container .contact__form input:focus {
  background: #4D77A0;
  color: #ffffff;
}
#contact .grid-container .contact__image img {
  width: 60%;
}

#info {
  min-height: 87vh;
}
#info .info__title {
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
  color: #5ce1e6;
  text-align: center;
  margin: 1em;
}
#info .info__content {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 2em;
}/*# sourceMappingURL=style.css.map */